name: 'build-test'
on:
  pull_request_target:
  push:
    branches:
      - main
      - 'releases/*'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      - name: Set Node
        uses: actions/setup-node@v2.5.1
        with:
          node-version: 16.x
      - name: Install dependencies
        run: npm install
      - name: Run all NPM targets
        run: npm run all
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      - name: Set enviroment variables
        run: echo "DATE=$(date +%Y%m%d)" >> $GITHUB_ENV
      - name: Execute test run
        uses: ./
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          pr_title: Test PR
          pr_source: test/pr
          pr_body: ${{ env.DATE }}
