name: 'build-test'
on:
  pull_request_target:
  push:
    branches:
      - main
      - 'releases/*'
    paths:
      - src/**
      - __test__/**
      - .github/workflows/test.yaml
  workflow_dispatch:

permissions:
  contents: read
  pull-requests: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3.1.0
      - name: Set Node
        uses: actions/setup-node@v3.5.1
        with:
          node-version: 16.x
          cache: 'npm'
      - name: Install dependencies
        run: npm install
      - name: Fetch ENV from .env.ci
        run: |-
          cat .env.ci >> $GITHUB_ENV
      - name: Run all NPM targets
        run: npm run all
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Upload Artifacts
        uses: actions/upload-artifact@v3.1.1
        with:
          retention-days: 15
          name: new-dist
          path: dist

  test:
    runs-on: ubuntu-latest
    needs:
      - build
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3.1.0
      - name: Download Artifacts
        uses: actions/download-artifact@v3.0.1
        with:
          name: new-dist
      - name: Set environment variables
        run: echo "DATE=$(date +%Y%m%d)" >> $GITHUB_ENV
      - name: Execute test run
        uses: ./
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          pr_title: Test PR
          pr_source: test/pr
          pr_body: ${{ env.DATE }}

  test-extended:
    runs-on: ubuntu-latest
    needs:
      - build
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3.0.2
      - name: Download Artifacts
        uses: actions/download-artifact@v3.0.1
        with:
          name: new-dist
      - name: Set environment variables
        run: echo "DATE=$(date +%Y%m%d)" >> $GITHUB_ENV
      - name: Execute test run with body links
        uses: ./
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          pr_title: Test staging to main
          pr_source: test/staging
          pr_target: test/main
          pr_body: "The following changes are going to be merged from staging to main (${{ env.DATE }}):"
          pr_body_with_links: true
